.mapa-do-site {font-size: 24px;
    color: grey;
    
}

.linha-um {color: pink;
    font-size: 16px;
    
}

.linha-dois {color: pink;
    font-size: 16px;
}


.linha-tres {color: pink;
    font-size: 16px;
    }


.linha-quatro {color: pink;
    font-size: 16px; 
    }
    
.linha-cinco {color: pink;
font-size: 16px;
}
    

.linha-seis {color: pink;
font-size: 16px;
}

p {color:lightpink;
    text-align: center;
   font-size: 22px; 
}

p:hover { background-color: #F3F1F3;
    
}