/*
|--------------------------------------------------------------------------
| Makeupline
|--------------------------------------------------------------------------
*/

#makeupline .main-image{
		width:100%
}

#makeupline article.make_main{
	display:block;
}

#makeupline article{
	clear:both;
	margin:15px 0;
	display: inline-block;
	color:#afafaf;
}

#makeupline p{
	padding-left: 16px;
	font-size: 20px;
}

#makeupline .make_one img,
#makeupline .make_three img,
#makeupline .make_four img,
#makeupline .make_six img{
	width: 30%;
    float: left;
}

#makeupline .make_one p,
#makeupline .make_three p,
#makeupline .make_four p,
#makeupline .make_six p{
    width: 70%;
    float: right;
}


#makeupline .make_two img,
#makeupline .make_five img{
	width: 30%;
    float: right;
}
#makeupline .make_two p,
#makeupline .make_five p{
	width: 70%;
    float: left;
}



#makeupline .make_four{
	
}

#makeupline .make_five{
	
}

#makeupline .make_six{
	
}