/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
*/

#about .main-image{
	float:left;
	width:43%;
}

#about .main-text{
	float: left;
	width: 57%;
	padding-left: 16px;
	font-size: 20px;
	padding-top: 18px;
	line-height: 26px;
}

#about .main-text p:first-letter {
	margin-left: 20px
}

#about .main-text ul{
	list-style: disc;
	margin-left: 20px;
}

#about .center-gallery{
	clear:both;
	text-align: center;
}

#about .center-gallery p{
	font-size: 20px;
	display: block;
	width: 76%;
	margin: 0 auto;
	line-height: 28px;
	margin-bottom: 13px;
}

#about .center-gallery .gallery{
	width: 85%;
	margin: 0 auto;
}

#about .center-gallery img{
	width: 27%;
	float: left;
	margin-right: 59px;
	margin-bottom: 30px;
}
#about .center-gallery img.title-gallery{
	width:50%;
	display: block;
	float:none;
	margin: 0 auto;
}