/*
|--------------------------------------------------------------------------
| Home
|--------------------------------------------------------------------------
*/

.home-item{
	float: left;
    width: 33%;
    text-align: center;
    margin: 15px 0;
}