h1{
		text-transform: uppercase;
		    text-align: center;
		    font-size: 2.9em;
		    font-weight: normal;
		    margin-top: 50px;
		    color:#807d80;
	}

	p{
		text-align:center;
		color:#beb4c3;
	}

	label{
		    text-transform: uppercase;
		    color: #807d80;
		    display: inline-block;
		    width: 174px;
		    text-align: center;
		    font-size: 1.4em;
	}

	input, select{
		    height: 51px;
		    margin-bottom: 30px;
		    width: 298px;
	}
	input:focus, select:focus, textarea:focus{
		outline: none;
	    border:1px solid pink;
	    box-shadow: 0 0 10px pink;
	}


	fieldset{
		border:none;
	}

	.image{
		    text-align: center;
    		margin-top: 50px;
	}

	form{
		    width: 922px;
    margin: 0 auto;
    margin-top: 52px;
	}

	.formulario-esquerda{
		width:55%;
		float:left;
	}

	.formulario-direita{
		width:45%;
		float:right;
	}

	.formulario-direita label{
		    width: 290px;
	}

	textarea{
		height: 189px;
	    margin-bottom: 30px;
	    width: 298px;
	}

	input[type="submit"]{
		border: 0;
	    background: #555;
	    color: #fff;
	    text-transform: uppercase;
	    transition: all ease 0.7s;
	    cursor:pointer;
	}

	input[type="submit"]:hover{
		background:pink;
		color:#555;
	}